{% extends "base.html" %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block body_class %}{{body}}{% endblock %}

{% block content %}
    {% if flatpage.is_active == True %}

        {% if flatpage.category.name == 'Blog' or flatpage.category.name == 'Community' %}
            <div id="columnSingle">
                <h2>{{ flatpage.title }}</h2>
                <span class="date">{{flatpage.created_at|date:'M'}}<span>{{flatpage.created_at|date:'d'}}</span></span>
                <span class="ln">By {% if flatpage.author.get_full_name %}{{flatpage.author.get_full_name }}{% else %}{{ flatpage.author.username }}{% endif %}</span>
                <span class="ln comments">({{ flatpage.comment_set.count }} Comments)</span>
                {% if flatpage.category.name == 'Blog' %}
                    <div>
                        <!-- Social media blog post buttons added here -->
                        <span class='st_fblike_hcount' displayText='Facebook Like'></span>
                        <span class='st_twitter_hcount' displayText='Tweet'></span>                       
                        <span class='st_googleplus_hcount' displayText='Google +'></span>
                    </div>
                {% endif %}
        {% endif %}

        {{ flatpage.content|safe }}
        <br>
        <div>
            {% if flatpage.list_tag %}
                <p><b>Tags:</b> {{ flatpage.list_tag }}</p>
            {% endif %}
        </div>

        {% if flatpage.enable_comments %}
            
        <ul class="commentlist">
        {% if flatpage.comment_set.all %}
        {% for comments in flatpage.comment_set.all %}
            <li> 
              <div class="comment-name-date">
                {{comments.created_at|date:"M d, Y"}}
                <br>
                    <small>{{comments.name|safe}}</small>
              </div>
              <div class="commentbody">{{comments.message}}</div>
            </li>
        {% endfor %}
        </ul>
        {% else %}
        <ul class="commentlist">   
          <li> 
            <div class="comment-name-date"> 
              <br> 
              <small></small> 
            </div> 
            <div class="commentbody"> 
            </div> 
          </li>  
        </ul>
        {% endif %}


        <div id="commentform">
        <h3>Leave a comment.<em> *Required</em></h3>
        {% if messages %}
            {% for message in messages %}
            <div id="status_msg" {% if message.tags %} class="{{ message.tags }}"{% endif %} style="display:block">
                <p class="msg">
                {{ message }}
                </p>
            </div>
            {% endfor %}
        {% endif %}

        <form action="/comment/" method="post">
            <div id="adopt_form" >
                {% csrf_token %}
            <table  border="0" cellpadding="0" cellspacing="0">
                <input name="flat_page_id" type="hidden" value="{{ flatpage.id }}" />
                <tr>
                    <td class="field_label">Your Name*</td>
                    <td class="field_value"><input name="name" type="text" value="" required/></td>
                </tr>
                <tr>
                    <td class="field_label">Email*</td>
                    <td class="field_value"><input name="email" type="text" value="" required/></td>
                </tr>
                <tr> 
                    <td class="field_label" valign="top">Comment</td>
                    <td class="field_value"><textarea style="height: 60px; margin-bottom: 10px;" name="message" cols="30" required></textarea></td> 
                </tr>
                <tr>
                    <td class="field_label"></td>
                    <td class="field_value"><input class="submitbtn" name="submit" type="submit" value="Submit Comment"/></td>
                </tr>
                
            </table>
            </div>
        </form>
        </div>
        {% else %}
            {%  if flatpage.category.name == 'Blog' or flatpage.category.name == 'Community' %}
                <div id="commentform">
                    Commenting is not available in this channel entry.
                </div>
            {% endif %}    
        {% endif %}

        {% if flatpage.category.name == 'Blog' or flatpage.category.name == 'Community' %}
            </div>
        {% endif %}

    {% else %}
        <div id="columnSingle">
            <h2>404 Page Not Found</h2>
            <br>
            <p>We're sorry, but the page you are looking for cannot be found. If you came from a link on our site, or believe there is a problem, <br>
            then please contact us at support@adoptimism.com and we will investigate this issue. Otherwise, we suggest you use the menu<br>
            above to navigate our site. Thank you. </p>
            <br>
            <br>
            
            <p>Return to <a href="/">Home</a></p>
        </div>
    {% endif %}

{% endblock content %}
